version: "3"

services:
  cms-db-dev:
    image: mongo:latest
    container_name: cms-db-dev
    ports:
      - "27017:27017"
    expose:
      - "27017"

  cms-client:
    container_name: cms-client
    build:
      context: ./
      dockerfile: Dockerfile
    command: npm run client
    depends_on:
      - cms-service-dev

  cms-service-dev:
    container_name: cms-service-dev
    build:
      context: ./
      dockerfile: Dockerfile
    command: npm run server
    depends_on:
      - cms-db-dev
      
    volumes:
      - "./:/usr/src/app"
      - "./package.json:/usr/src/package.json"
    ports:
      - "8080:8080"

    environment:
      MONGO_URL: "mongodb://cms-db-dev:27017/cms"
      SVR_PORT: "8080"
      CLI_PORT:  "3003" 
      ROOR_URL: "http:localhost:8080"